body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: robot;
  src: url("./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

h1{
  font-family: robot;
  font-size: 3rem;

}


h2{
  font-family: robot;
font-size: 2.rem;
}

h3{
  font-family: robot;
  color: #FFCA41;
}

h4, h5, h6, p, {
  font-family: robot;
}

a{
  font-family: robot;
text-decoration: none;
color: white;
cursor: pointer;
}

button{
  cursor: pointer;
}